.header {
  background-color: black !important;
  color: white !important;
}

.header:hover {
  background-color: black !important;

}

.expand{
  font-size: 30px;
  margin: 10px;
  vertical-align: bottom;
}

.closeBtn{
  padding: 0 !important;
  min-width: 0 !important;
}

.mat-expansion-panel{
  max-height: 380px !important;
  overflow-y: scroll;

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.mat-expansion-panel-header-title {
  color: white !important;
  padding-left: 10px !important;
}

.mat-bottom-sheet-container{
  padding: 0 !important;
}

.mat-expansion-panel-header {
  padding: 0 !important;
  margin-bottom: 10px;
}

.mat-flat-button, .mat-raised-button {
  background-color: black !important;
  color: white !important;
}

.upl_title{
  width: 400px;
  padding-top: 10px;
}

.upl_page{
  font-size: 50px;
}

.upl_cancel{
  font-size: 30px;
  vertical-align: bottom;
}

#top-row{
  font-weight: bold;
  font-size: larger;
}
.progress{
  height: 5px;
}
.mat-expansion-panel-body{
  padding: 0 !important;
}

